main > .section > .teaser-wrapper,
main .default-content-wrapper > .section.teaser-container {
  width: 100vw;
  max-width: none;
  margin-inline: calc(50% - 50vw);
  padding: 0;
}

main .section.teaser-container .teaser-wrapper {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

main .teaser {
  width: 100%;
  background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
  color: light-dark(var(--color-gray-900), var(--color-gray-100));
  text-align: center;
  font-size: var(--body-font-size-m);
  font-weight: 500;
}

main .teaser > div {
  align-items: center;
  gap: var(--space-s);
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: var(--space-m) var(--content-padding-inline);
}

main .teaser > div > div a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  padding-inline-start: 0.5em;
}
