footer {
  width: 100%;
  border-top: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: var(--space-xl) var(--content-padding-inline);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-l);
}

/* Footer content is authored as four direct rows (divs). */
footer .footer > div > div {
  max-width: 100%;
}

footer .footer p {
  margin: 0;
  line-height: 1.55;
}

footer .footer > div > div:first-child {
  padding-bottom: var(--space-l);
  border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
}

footer .footer > div > div:nth-child(2) p {
  font-weight: 600;
}

footer .footer > div > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: var(--space-m);
  min-width: 0;
}

footer .footer > div > div:nth-child(4) {
  display: flex;
}

footer .footer > div > div:nth-child(4) ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-s);
}

footer .footer > div > div:nth-child(4) li {
  margin: 0;
}

footer .footer > div > div:nth-child(4) a {
  text-decoration: none;
}

footer .footer > div > div:nth-child(4) ul a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  border: 1px solid light-dark(var(--color-gray-300), var(--color-gray-500));
}

footer .footer > div > div:nth-child(4) ul a:hover,
footer .footer > div > div:nth-child(4) ul a:focus-visible {
  background-color: light-dark(var(--color-gray-100), var(--color-gray-700));
}

footer .footer .icon {
  width: 18px;
  height: 18px;
}

footer .footer .icon.icon-logo {
  width: 56px;
  height: 18px;
  vertical-align: middle;
  margin-inline: 4px;
}

footer .footer .icon.icon-logo :is(svg, img) {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  footer .footer > div > div:nth-child(4) ul .icon {
    filter: brightness(0) invert(1);
  }
}

body.dark-scheme footer .footer > div > div:nth-child(4) ul .icon,
body.dark footer .footer > div > div:nth-child(4) ul .icon,
body.theme-dark footer .footer > div > div:nth-child(4) ul .icon {
  filter: brightness(0) invert(1);
}

body.light-scheme footer .footer > div > div:nth-child(4) ul .icon,
body.light footer .footer > div > div:nth-child(4) ul .icon,
body.theme-light footer .footer > div > div:nth-child(4) ul .icon {
  filter: none;
}

@media (width >= 600px) {
  footer .footer > div {
    grid-template-columns: minmax(0, 1fr) auto;
    padding-block: calc(var(--space-xl) + var(--space-s));
  }

  footer .footer > div > div:nth-child(1),
  footer .footer > div > div:nth-child(2) {
    grid-column: 1 / -1;
  }

  footer .footer > div > div:nth-child(3) {
    grid-column: 1;
  }

  footer .footer > div > div:nth-child(4) {
    grid-column: 2;
    place-self: center end;
  }
}

@media (width >= 900px) {
  footer .footer > div {
    gap: var(--space-xl);
    padding-block: calc(var(--space-xl) + var(--space-m));
  }
}
